@*
    This will be used as alternative shape of Body_Editor shape.
    Its shape name is "Body_Editor__Markdown".
    More info: https://docs.orchardproject.net/en/latest/Documentation/Alternates/

*@

@{
    Style.Include("simplemde.min.css");
    Script.Include("simplemde.min.js");
    // Document: https://github.com/sparksuite/simplemde-markdown-editor
}

<h1> TODO add HTML elements for markdown here</h1>
